.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f5bf37;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.shared-icon {
  font-size: x-large;

}

.banner {
  background: rgba(0, 0, 0, 0.25);
}

.box {
  background: rgba(0, 0, 0, 0.85);
  width: 80vw;
}

.featureCarousel {
  width: 100%;
  height: 100%;
  margin-block: 3%;
}

.carouselCont {
  background-color: rgba(10, 145, 255, 0.364);
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  /* padding-top: 1%; */
  min-height: 40vh;
}

.imgCont {
  float: left !important;
  width: 50%;
}

.textCont {
  padding: 1% !important;
  position: relative;
  height: 50%;
  right: 4%;
  width: 50%;
  font-size: 25px;
}

.carousel-caption {
  position: relative !important;
  top: 0 !important;
  height: 100% !important;
  width: 75% !important;
}

.textCont p {
  color: white !important;
}

.textCont h3 {
  color: white !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: white;
}

.blog-preview {
  line-height: 2.0;
}

.date {
  text-align: left;
}

.author {
  text-align: right;
}

.archiveList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logList {
  text-align: left;
  margin-top: 5%;
  margin-left: 10%;
}

.logList ul {
  margin-left: 0px;
}



.verticalLine {
  border-right: 2px solid #f06de52f;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: rgb(183, 143, 104);
  transition: left 300ms ease-out;
}

.sidebar.active {
  left: 0;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar li {
  list-style: none;
}

.sidebar li a {
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #fff;
}

.bg-home {
  background: linear-gradient(0.25turn, #964a02, #e8c434, #682d00);
  opacity: 0.9;
}

.bg-about {
  background: linear-gradient(to top, rgb(0, 0, 0), rgb(99, 99, 99) 20%, rgba(176, 176, 176, 0.989) 75%, rgba(51, 51, 51, 0.904) 85%);
  opacity: 0.9;
}

.bg-page1 {
  background: linear-gradient(#a52e54df, #3f0285c5);
  opacity: 0.9;
}

.bg-page2 {
  background: linear-gradient(45deg, #0780c6, #000c1dea);
  opacity: 0.9;
}

.bg-page3 {
  background: linear-gradient(150deg, rgb(0, 98, 16), rgba(0, 123, 255, 0.196) 70.71%),
    linear-gradient(230deg, rgba(7, 96, 62, 0.925), rgba(0, 255, 0, 0.135) 70.71%),
    linear-gradient(360deg, rgba(135, 213, 1, 0.969), rgba(0, 0, 255, 0.213) 70.71%);
  opacity: 0.9;
}

.bg-home-image {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1)), url('../public/assets/images/1657150463374.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.bg-list-image {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1)), url('../public/assets/images/1646507003107.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.bg-page1-image {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15)), url('../public/assets/images/1644273845427.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.bg-page2-image {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)), url('../public/assets/images/673465-2204554309.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 35% 105%;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.bg-page3-image {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)), url('../public/assets/images/1661285400630843.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 120%;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.bg-about-image {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)), url('../public/assets/images/1535235514234.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}